.main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left top, rgb(253, 242, 254), rgba(115, 62, 201, 0.4));
  }
  
  .head {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    font-family:'Texturina', serif;
    color:#260b46;
    margin-top: 40px;
  }
  
  .interest-div {
    width: 85%;
    margin: 20px 0;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 20px 40px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    height: 810px;
  }
  
  .inside-div {
    background-color: #390874bb;  
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px ;
    height:450px;
    width:20%;
    box-shadow: 6px 6px 9px -1px #512780ad;
  }
  
  .form-check {
    margin: 20px 0px 30px 20px;
    font-size: 25px;
  }
  
  .form-check-input {
    margin-right: 10px;

  }
  .text-white {
    color:white;
    ;font-family:'Texturina', serif;
  }
  
  .form-control {
    border-radius: 5px;
    border-color: #ccc;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #17a2b8;
  }
  .centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .others{
    box-sizing: border-box;
    background-color: #390874bb;
    color: white;
    border: none;
    height: 100px;
    width:100%;
    border:transparent;
    border-radius: 10px;
    font-size: 27px;
    font-family:'Texturina', serif;
    box-shadow: 6px 6px 9px -1px #512780ad;
    margin-bottom: 10px;
  }
  .others::placeholder{
    color:white;
    text-indent: 20px;
  }

 .bt-submit{
    height: 100px;
    width:700px;
    font-size: 27px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
 }

 .bt-submit::after{
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
 }

 .bt-submit:hover::after{
  top: 0px;
  left: 0px;
 }
 
 @media (min-width: 768px) {
  .bt-submit {
    padding: 13px 50px 13px;
  }
}
 .submit-div{
  margin-top: 20px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }