.main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left top, rgb(253, 242, 254), rgba(115, 62, 201, 0.4));
  }
  
  .head {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    font-family:'Texturina', serif;
    color:#260b46;
    margin-top: 40px;
  }
  
  .interest-div {
    width: 85%;
    margin: 20px 0;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 20px 40px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 550px;
  }
  
  .inside-div {
    background-color: #390874bb;  
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px;
    height:450px;
    width:20%;
    box-shadow: 6px 6px 9px -1px #512780ad;
  }
  
  .form-check {
    margin: 20px 0px 30px 20px;
    font-size: 25px;
  }
  
  .form-check-input {
    margin-right: 10px;

  }
  
  .bg-info {
    background-color: rgba(81, 15, 187, 0.4)!important;
  }
  
  
  .py-3 {
    padding-top: 1em ;
    padding-bottom: 1rem ;
  }
  
  .btn {
    font-size: 16px;
    border-radius: 5px;
   
  }
  
  .btn-outline-light {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }
  
  .btn-outline-light:hover {
    color: #17a2b8;
    background-color: #fff;
    border-color: #17a2b8;
  }
  
  .rounded {
    border-radius: 10px !important;
  }
  
  .shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .bg-danger {
    background-color: #dc3545 !important;
  }
  
  .text-white {
    color:white;
    font-family:'Texturina', serif;
  }
  
  .form-control {
    border-radius: 5px;
    border-color: #ccc;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #17a2b8;
  }
  